{% extends 'base.html' %}
{% block contenido %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4" style="width: 20rem;">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="text" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="text" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
        </form>
    </div>
</div>
{% endblock %}